<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Antes_BG_1_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,45}</string>
                <key>spriteSourceSize</key>
                <string>{158,45}</string>
                <key>textureRect</key>
                <string>{{313,3},{158,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Antes_BG_2_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,43}</string>
                <key>spriteSourceSize</key>
                <string>{156,43}</string>
                <key>textureRect</key>
                <string>{{313,100},{156,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Antes_BG_3_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,40}</string>
                <key>spriteSourceSize</key>
                <string>{157,40}</string>
                <key>textureRect</key>
                <string>{{313,54},{157,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Antes_BG_4_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,41}</string>
                <key>spriteSourceSize</key>
                <string>{154,41}</string>
                <key>textureRect</key>
                <string>{{313,149},{154,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Antes_BG_5_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,42}</string>
                <key>spriteSourceSize</key>
                <string>{215,42}</string>
                <key>textureRect</key>
                <string>{{3,731},{215,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceBRNN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,3},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceDRHHDS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,94},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceDTCN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,185},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceFKDTCN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{313,196},{304,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diceHHDS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{404,196},{304,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diceJDCN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,276},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceQZNN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,367},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceSH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,458},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mjEBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{313,506},{304,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokerDDZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{404,506},{304,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokerDZPK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,549},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerZJH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,640},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_tw.png</string>
            <key>size</key>
            <string>{492,813}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb300cc9b65f0c2ecbbefd5a60e3a436:3609d149a7477b6d98fa436084f469b0:dccd04bf499398824172f632a169e937$</string>
            <key>textureFileName</key>
            <string>main_tw.png</string>
        </dict>
    </dict>
</plist>
