<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Antes_BG_1_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,24}</string>
                <key>spriteSourceSize</key>
                <string>{182,24}</string>
                <key>textureRect</key>
                <string>{{616,185},{182,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Antes_BG_2_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,24}</string>
                <key>spriteSourceSize</key>
                <string>{175,24}</string>
                <key>textureRect</key>
                <string>{{804,185},{175,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Antes_BG_3_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,24}</string>
                <key>spriteSourceSize</key>
                <string>{196,24}</string>
                <key>textureRect</key>
                <string>{{224,185},{196,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Antes_BG_4_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,26}</string>
                <key>spriteSourceSize</key>
                <string>{215,26}</string>
                <key>textureRect</key>
                <string>{{3,185},{215,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Antes_BG_5_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,26}</string>
                <key>spriteSourceSize</key>
                <string>{184,26}</string>
                <key>textureRect</key>
                <string>{{426,185},{184,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceDTCN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,3},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceHHDS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{313,3},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceJDCN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{623,3},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceQZNN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{933,3},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diceSH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{3,94},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_antes_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,22}</string>
                <key>spriteSourceSize</key>
                <string>{67,22}</string>
                <key>textureRect</key>
                <string>{{298,215},{67,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_antes_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,22}</string>
                <key>spriteSourceSize</key>
                <string>{68,22}</string>
                <key>textureRect</key>
                <string>{{224,215},{68,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_maxAntes_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,31}</string>
                <key>spriteSourceSize</key>
                <string>{53,31}</string>
                <key>textureRect</key>
                <string>{{1107,185},{53,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_maxAntes_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,31}</string>
                <key>spriteSourceSize</key>
                <string>{53,31}</string>
                <key>textureRect</key>
                <string>{{1166,185},{53,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_minAntes_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{985,185},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_minAntes_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{1046,185},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerDDZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{313,94},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerDZPK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{623,94},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerZJH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,85}</string>
                <key>spriteSourceSize</key>
                <string>{304,85}</string>
                <key>textureRect</key>
                <string>{{933,94},{304,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_en.png</string>
            <key>size</key>
            <string>{1240,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b52949b2114dd0d508d77ae5f49c76cc:a77f8a7a75766059f624fc39a0f0b0f8:b4d2934158eec43e98976ecd4a11fcdb$</string>
            <key>textureFileName</key>
            <string>main_en.png</string>
        </dict>
    </dict>
</plist>
