<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_emoji_icon_1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{622,529},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{763,324},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{799,210},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{642,628},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_1 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{799,210},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_2 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{105,108}</string>
                <key>textureRect</key>
                <string>{{697,108},{95,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_2 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{105,108}</string>
                <key>textureRect</key>
                <string>{{899,104},{95,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_2 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{105,108}</string>
                <key>textureRect</key>
                <string>{{701,3},{95,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_2 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{105,108}</string>
                <key>textureRect</key>
                <string>{{798,104},{95,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_2 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{105,108}</string>
                <key>textureRect</key>
                <string>{{807,3},{95,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_3 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{488,3},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_3 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{490,441},{103,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_3 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{103,93}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{654,324},{103,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_3 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{488,3},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_3 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{103,93}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{654,324},{103,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_4 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{703,423},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_4 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{703,423},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_4 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{696,219},{99,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_4 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{703,423},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_4 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{696,219},{99,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_5 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,91}</string>
                <key>textureRect</key>
                <string>{{913,3},{95,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_5 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,91}</string>
                <key>textureRect</key>
                <string>{{913,3},{95,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_5 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,91}</string>
                <key>textureRect</key>
                <string>{{741,624},{95,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_5 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,91}</string>
                <key>textureRect</key>
                <string>{{827,526},{95,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_5 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,91}</string>
                <key>textureRect</key>
                <string>{{741,624},{95,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_6 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{724,526},{92,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_6 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{806,423},{92,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_6 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{865,312},{92,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_icon_6 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{898,210},{92,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_icon_6 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{898,210},{92,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_string_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{134,58}</string>
                <key>spriteSourceSize</key>
                <string>{218,98}</string>
                <key>textureRect</key>
                <string>{{382,377},{134,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_string_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{218,98}</string>
                <key>textureRect</key>
                <string>{{928,513},{124,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_emoji_string_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{126,56}</string>
                <key>spriteSourceSize</key>
                <string>{218,98}</string>
                <key>textureRect</key>
                <string>{{522,362},{126,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_string_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{126,58}</string>
                <key>spriteSourceSize</key>
                <string>{218,98}</string>
                <key>textureRect</key>
                <string>{{490,554},{126,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_emoji_string_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{218,98}</string>
                <key>textureRect</key>
                <string>{{488,324},{128,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{963,308},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,83}</string>
                <key>spriteSourceSize</key>
                <string>{171,83}</string>
                <key>textureRect</key>
                <string>{{278,638},{171,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{98,99}</string>
                <key>textureRect</key>
                <string>{{488,219},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{98,99}</string>
                <key>textureRect</key>
                <string>{{592,219},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{98,99}</string>
                <key>textureRect</key>
                <string>{{593,114},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji_icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{98,99}</string>
                <key>textureRect</key>
                <string>{{597,3},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji_icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{488,114},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji_icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{98,99}</string>
                <key>textureRect</key>
                <string>{{599,424},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji_icon_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,63}</string>
                <key>spriteSourceSize</key>
                <string>{92,63}</string>
                <key>textureRect</key>
                <string>{{908,643},{92,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji_menu_unClick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{904,415},{92,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_emoji_string_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,100}</string>
                <key>spriteSourceSize</key>
                <string>{181,100}</string>
                <key>textureRect</key>
                <string>{{278,451},{181,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_emoji_string_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,100}</string>
                <key>spriteSourceSize</key>
                <string>{181,100}</string>
                <key>textureRect</key>
                <string>{{382,3},{181,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_emoji_string_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,100}</string>
                <key>spriteSourceSize</key>
                <string>{181,100}</string>
                <key>textureRect</key>
                <string>{{382,190},{181,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_emoji_string_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,100}</string>
                <key>spriteSourceSize</key>
                <string>{181,100}</string>
                <key>textureRect</key>
                <string>{{384,441},{181,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_emoji_string_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,100}</string>
                <key>spriteSourceSize</key>
                <string>{181,100}</string>
                <key>textureRect</key>
                <string>{{455,628},{181,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emoji_string_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{838,623},{92,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>emojiBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,269}</string>
                <key>spriteSourceSize</key>
                <string>{718,269}</string>
                <key>textureRect</key>
                <string>{{3,3},{718,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>emoji_string_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,98}</string>
                <key>spriteSourceSize</key>
                <string>{218,98}</string>
                <key>textureRect</key>
                <string>{{278,3},{218,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>emoji_string_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,98}</string>
                <key>spriteSourceSize</key>
                <string>{218,98}</string>
                <key>textureRect</key>
                <string>{{278,227},{218,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>emojiMain.png</string>
            <key>size</key>
            <string>{1013,731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04092b76d365387175ecd2fd104d8b5b:8f635b62e8f9583dfc0cf8b98b4aa12c:b9f4dddfaed59da482314decbe15aa08$</string>
            <key>textureFileName</key>
            <string>emojiMain.png</string>
        </dict>
    </dict>
</plist>
