<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_gameName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,44}</string>
                <key>spriteSourceSize</key>
                <string>{269,44}</string>
                <key>textureRect</key>
                <string>{{311,387},{269,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_again.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,147}</string>
                <key>spriteSourceSize</key>
                <string>{395,147}</string>
                <key>textureRect</key>
                <string>{{63,3},{395,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_black_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{213,858},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_black_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{148,1001},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_even_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{148,1144},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_even_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{291,1001},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_odd_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{291,1144},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_odd_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{364,245},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{361,388},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{361,531},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalLossCombo_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,128}</string>
                <key>spriteSourceSize</key>
                <string>{133,128}</string>
                <key>textureRect</key>
                <string>{{79,862},{133,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_finalLossCombo_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{434,1160},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalLoss_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,136}</string>
                <key>spriteSourceSize</key>
                <string>{295,136}</string>
                <key>textureRect</key>
                <string>{{63,245},{295,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalLoss_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,112}</string>
                <key>spriteSourceSize</key>
                <string>{58,112}</string>
                <key>textureRect</key>
                <string>{{434,986},{58,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalWinCombo_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,127}</string>
                <key>spriteSourceSize</key>
                <string>{134,127}</string>
                <key>textureRect</key>
                <string>{{352,674},{134,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalWinCombo_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{434,1104},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalWin_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,139}</string>
                <key>spriteSourceSize</key>
                <string>{286,139}</string>
                <key>textureRect</key>
                <string>{{3,1001},{286,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_finalWin_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,114}</string>
                <key>spriteSourceSize</key>
                <string>{61,114}</string>
                <key>textureRect</key>
                <string>{{356,890},{61,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_getTable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{465,70}</string>
                <key>spriteSourceSize</key>
                <string>{481,84}</string>
                <key>textureRect</key>
                <string>{{235,387},{465,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_joinRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{465,72}</string>
                <key>spriteSourceSize</key>
                <string>{481,84}</string>
                <key>textureRect</key>
                <string>{{157,387},{465,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_sitDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{469,70}</string>
                <key>spriteSourceSize</key>
                <string>{481,84}</string>
                <key>textureRect</key>
                <string>{{3,526},{469,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_sitDownSuccess.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{469,72}</string>
                <key>spriteSourceSize</key>
                <string>{481,84}</string>
                <key>textureRect</key>
                <string>{{79,387},{469,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_tableAntes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,35}</string>
                <key>spriteSourceSize</key>
                <string>{178,35}</string>
                <key>textureRect</key>
                <string>{{311,662},{178,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_tableGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,23}</string>
                <key>spriteSourceSize</key>
                <string>{106,27}</string>
                <key>textureRect</key>
                <string>{{356,957},{106,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableGameString.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,26}</string>
                <key>spriteSourceSize</key>
                <string>{117,26}</string>
                <key>textureRect</key>
                <string>{{464,3},{117,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_tableNumber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,23}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{429,156},{81,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_noCoinBackHall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,54}</string>
                <key>spriteSourceSize</key>
                <string>{517,54}</string>
                <key>textureRect</key>
                <string>{{3,3},{517,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_quantity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,77}</string>
                <key>spriteSourceSize</key>
                <string>{129,77}</string>
                <key>textureRect</key>
                <string>{{356,807},{129,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_tableAuto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,83}</string>
                <key>spriteSourceSize</key>
                <string>{360,83}</string>
                <key>textureRect</key>
                <string>{{63,156},{360,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_tw.png</string>
            <key>size</key>
            <string>{504,1290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f130a56782c09ad5de5024d3490e0a6a:4a8a42a7d8ef1565382cbf4131cc00dc:dccd04bf499398824172f632a169e937$</string>
            <key>textureFileName</key>
            <string>main_tw.png</string>
        </dict>
    </dict>
</plist>
