<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,206}</string>
                <key>spriteSourceSize</key>
                <string>{141,206}</string>
                <key>textureRect</key>
                <string>{{1463,1073},{141,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,206}</string>
                <key>spriteSourceSize</key>
                <string>{141,206}</string>
                <key>textureRect</key>
                <string>{{1051,482},{141,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,206}</string>
                <key>spriteSourceSize</key>
                <string>{141,206}</string>
                <key>textureRect</key>
                <string>{{1062,242},{141,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,206}</string>
                <key>spriteSourceSize</key>
                <string>{140,206}</string>
                <key>textureRect</key>
                <string>{{1537,1220},{140,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,206}</string>
                <key>spriteSourceSize</key>
                <string>{141,206}</string>
                <key>textureRect</key>
                <string>{{1198,454},{141,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,206}</string>
                <key>spriteSourceSize</key>
                <string>{141,206}</string>
                <key>textureRect</key>
                <string>{{1209,218},{141,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,206}</string>
                <key>spriteSourceSize</key>
                <string>{140,206}</string>
                <key>textureRect</key>
                <string>{{1455,642},{140,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,206}</string>
                <key>spriteSourceSize</key>
                <string>{140,206}</string>
                <key>textureRect</key>
                <string>{{1492,430},{140,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,206}</string>
                <key>spriteSourceSize</key>
                <string>{141,206}</string>
                <key>textureRect</key>
                <string>{{1345,430},{141,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,206}</string>
                <key>spriteSourceSize</key>
                <string>{141,206}</string>
                <key>textureRect</key>
                <string>{{1356,218},{141,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,212}</string>
                <key>spriteSourceSize</key>
                <string>{145,212}</string>
                <key>textureRect</key>
                <string>{{1537,922},{145,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{95,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{543,756},{95,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bankerLoss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,143}</string>
                <key>spriteSourceSize</key>
                <string>{555,143}</string>
                <key>textureRect</key>
                <string>{{1164,69},{555,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bankerWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,143}</string>
                <key>spriteSourceSize</key>
                <string>{557,143}</string>
                <key>textureRect</key>
                <string>{{644,719},{557,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banker_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{178,124}</string>
                <key>textureRect</key>
                <string>{{1638,218},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_again.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,147}</string>
                <key>spriteSourceSize</key>
                <string>{395,147}</string>
                <key>textureRect</key>
                <string>{{411,868},{395,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,98}</string>
                <key>spriteSourceSize</key>
                <string>{234,98}</string>
                <key>textureRect</key>
                <string>{{958,242},{234,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_statistic_content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{445,257}</string>
                <key>spriteSourceSize</key>
                <string>{471,285}</string>
                <key>textureRect</key>
                <string>{{853,868},{445,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_statistics.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{144,170}</string>
                <key>spriteSourceSize</key>
                <string>{144,178}</string>
                <key>textureRect</key>
                <string>{{1305,666},{144,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{1638,385},{82,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{858,59}</string>
                <key>spriteSourceSize</key>
                <string>{858,59}</string>
                <key>textureRect</key>
                <string>{{478,3},{858,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{859,61}</string>
                <key>spriteSourceSize</key>
                <string>{859,61}</string>
                <key>textureRect</key>
                <string>{{411,3},{859,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-13}</string>
                <key>spriteSize</key>
                <string>{194,92}</string>
                <key>spriteSourceSize</key>
                <string>{208,120}</string>
                <key>textureRect</key>
                <string>{{1207,666},{194,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{1638,473},{82,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diceCup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{322,506}</string>
                <key>spriteSourceSize</key>
                <string>{330,518}</string>
                <key>textureRect</key>
                <string>{{3,1032},{322,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{77,86}</string>
                <key>textureRect</key>
                <string>{{1205,1222},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{77,86}</string>
                <key>textureRect</key>
                <string>{{1288,1222},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{77,86}</string>
                <key>textureRect</key>
                <string>{{1371,1222},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{77,86}</string>
                <key>textureRect</key>
                <string>{{1454,1222},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{77,86}</string>
                <key>textureRect</key>
                <string>{{1503,324},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{77,86}</string>
                <key>textureRect</key>
                <string>{{1503,218},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_index.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,69}</string>
                <key>spriteSourceSize</key>
                <string>{56,69}</string>
                <key>textureRect</key>
                <string>{{1675,1073},{56,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{82,140}</string>
                <key>spriteSourceSize</key>
                <string>{112,156}</string>
                <key>textureRect</key>
                <string>{{1601,642},{82,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,57}</string>
                <key>textureRect</key>
                <string>{{1463,922},{109,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_getTable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,74}</string>
                <key>spriteSourceSize</key>
                <string>{467,74}</string>
                <key>textureRect</key>
                <string>{{687,82},{467,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_joinRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,74}</string>
                <key>spriteSourceSize</key>
                <string>{467,74}</string>
                <key>textureRect</key>
                <string>{{687,162},{467,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_noBanker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,55}</string>
                <key>spriteSourceSize</key>
                <string>{160,55}</string>
                <key>textureRect</key>
                <string>{{1586,324},{160,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{850,1321},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_sitDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,75}</string>
                <key>spriteSourceSize</key>
                <string>{466,75}</string>
                <key>textureRect</key>
                <string>{{687,242},{466,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_sitDownSuccess.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,73}</string>
                <key>spriteSourceSize</key>
                <string>{471,73}</string>
                <key>textureRect</key>
                <string>{{687,3},{471,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{420,41}</string>
                <key>spriteSourceSize</key>
                <string>{422,41}</string>
                <key>textureRect</key>
                <string>{{870,1319},{420,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,23}</string>
                <key>spriteSourceSize</key>
                <string>{106,23}</string>
                <key>textureRect</key>
                <string>{{594,1332},{106,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableGameString.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,24}</string>
                <key>spriteSourceSize</key>
                <string>{73,24}</string>
                <key>textureRect</key>
                <string>{{515,1332},{73,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableLOGO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,41}</string>
                <key>spriteSourceSize</key>
                <string>{221,41}</string>
                <key>textureRect</key>
                <string>{{1296,1314},{221,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableNumber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,23}</string>
                <key>spriteSourceSize</key>
                <string>{83,23}</string>
                <key>textureRect</key>
                <string>{{706,1332},{83,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,402}</string>
                <key>spriteSourceSize</key>
                <string>{1025,404}</string>
                <key>textureRect</key>
                <string>{{3,3},{1023,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_noCoinBackHall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{522,60}</string>
                <key>spriteSourceSize</key>
                <string>{526,68}</string>
                <key>textureRect</key>
                <string>{{1207,3},{522,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_tableAuto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,83}</string>
                <key>spriteSourceSize</key>
                <string>{360,83}</string>
                <key>textureRect</key>
                <string>{{1116,922},{360,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_tableAuto_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,37}</string>
                <key>spriteSourceSize</key>
                <string>{49,37}</string>
                <key>textureRect</key>
                <string>{{795,1321},{49,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>room_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{603,48}</string>
                <key>spriteSourceSize</key>
                <string>{603,48}</string>
                <key>textureRect</key>
                <string>{{1116,868},{603,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{747,85}</string>
                <key>spriteSourceSize</key>
                <string>{781,135}</string>
                <key>textureRect</key>
                <string>{{543,3},{747,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slider_Bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-78}</string>
                <key>spriteSize</key>
                <string>{710,47}</string>
                <key>spriteSourceSize</key>
                <string>{736,491}</string>
                <key>textureRect</key>
                <string>{{634,3},{710,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table.LOGO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{305,246}</string>
                <key>spriteSourceSize</key>
                <string>{313,254}</string>
                <key>textureRect</key>
                <string>{{515,1021},{305,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,278}</string>
                <key>spriteSourceSize</key>
                <string>{184,278}</string>
                <key>textureRect</key>
                <string>{{768,242},{184,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,277}</string>
                <key>spriteSourceSize</key>
                <string>{184,277}</string>
                <key>textureRect</key>
                <string>{{768,526},{184,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,80}</string>
                <key>spriteSourceSize</key>
                <string>{294,80}</string>
                <key>textureRect</key>
                <string>{{767,1021},{294,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,80}</string>
                <key>spriteSourceSize</key>
                <string>{294,80}</string>
                <key>textureRect</key>
                <string>{{1205,922},{294,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user_label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,80}</string>
                <key>spriteSourceSize</key>
                <string>{294,80}</string>
                <key>textureRect</key>
                <string>{{1291,922},{294,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user_label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,80}</string>
                <key>spriteSourceSize</key>
                <string>{294,80}</string>
                <key>textureRect</key>
                <string>{{1377,922},{294,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_EBG.png</string>
            <key>size</key>
            <string>{1752,1363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c46fb0ab830f69f4411bc98cdf9a38b:b4261df6a54f7641c75d09704edad8a7:b1a41d016d3b0a0d0f563a42cabc54b9$</string>
            <key>textureFileName</key>
            <string>main_EBG.png</string>
        </dict>
    </dict>
</plist>
