<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_gameName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,22}</string>
                <key>spriteSourceSize</key>
                <string>{368,22}</string>
                <key>textureRect</key>
                <string>{{479,701},{368,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_again.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,147}</string>
                <key>spriteSourceSize</key>
                <string>{395,147}</string>
                <key>textureRect</key>
                <string>{{1069,52},{395,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_black_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{1252,294},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_black_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{1231,437},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_even_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{1395,317},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_even_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{1374,460},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_odd_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{1517,460},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_odd_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{870,591},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{1013,544},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{1156,580},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalLossCombo_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,103}</string>
                <key>spriteSourceSize</key>
                <string>{236,103}</string>
                <key>textureRect</key>
                <string>{{748,431},{236,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalLossCombo_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,96}</string>
                <key>spriteSourceSize</key>
                <string>{27,96}</string>
                <key>textureRect</key>
                <string>{{837,591},{27,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalLoss_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,101}</string>
                <key>spriteSourceSize</key>
                <string>{261,101}</string>
                <key>textureRect</key>
                <string>{{985,294},{261,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalLoss_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,97}</string>
                <key>spriteSourceSize</key>
                <string>{26,97}</string>
                <key>textureRect</key>
                <string>{{1621,317},{26,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalWinCombo_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,104}</string>
                <key>spriteSourceSize</key>
                <string>{235,104}</string>
                <key>textureRect</key>
                <string>{{990,401},{235,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalWinCombo_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,96}</string>
                <key>spriteSourceSize</key>
                <string>{27,96}</string>
                <key>textureRect</key>
                <string>{{1435,205},{27,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalWin_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,104}</string>
                <key>spriteSourceSize</key>
                <string>{352,104}</string>
                <key>textureRect</key>
                <string>{{479,591},{352,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_finalWin_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,139}</string>
                <key>spriteSourceSize</key>
                <string>{27,139}</string>
                <key>textureRect</key>
                <string>{{990,511},{27,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_getTable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{727,75}</string>
                <key>spriteSourceSize</key>
                <string>{727,81}</string>
                <key>textureRect</key>
                <string>{{3,510},{727,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_joinRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{739,73}</string>
                <key>spriteSourceSize</key>
                <string>{739,81}</string>
                <key>textureRect</key>
                <string>{{3,431},{739,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_sitDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{976,75}</string>
                <key>spriteSourceSize</key>
                <string>{978,81}</string>
                <key>textureRect</key>
                <string>{{3,271},{976,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_sitDownSuccess.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{956,73}</string>
                <key>spriteSourceSize</key>
                <string>{956,81}</string>
                <key>textureRect</key>
                <string>{{3,352},{956,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableAntes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,45}</string>
                <key>spriteSourceSize</key>
                <string>{147,45}</string>
                <key>textureRect</key>
                <string>{{736,540},{147,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,19}</string>
                <key>spriteSourceSize</key>
                <string>{109,19}</string>
                <key>textureRect</key>
                <string>{{282,710},{109,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableGameString.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,20}</string>
                <key>spriteSourceSize</key>
                <string>{273,20}</string>
                <key>textureRect</key>
                <string>{{3,710},{273,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_tableNumber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,32}</string>
                <key>spriteSourceSize</key>
                <string>{73,32}</string>
                <key>textureRect</key>
                <string>{{889,540},{73,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{470,113}</string>
                <key>spriteSourceSize</key>
                <string>{470,137}</string>
                <key>textureRect</key>
                <string>{{3,591},{470,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_myturn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1060,262}</string>
                <key>spriteSourceSize</key>
                <string>{1060,262}</string>
                <key>textureRect</key>
                <string>{{3,3},{1060,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_noCoinBackHall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,43}</string>
                <key>spriteSourceSize</key>
                <string>{554,43}</string>
                <key>textureRect</key>
                <string>{{1069,3},{554,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,190}</string>
                <key>spriteSourceSize</key>
                <string>{259,190}</string>
                <key>textureRect</key>
                <string>{{1470,52},{259,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_quantity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,77}</string>
                <key>spriteSourceSize</key>
                <string>{129,77}</string>
                <key>textureRect</key>
                <string>{{1538,317},{129,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_tableAuto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,83}</string>
                <key>spriteSourceSize</key>
                <string>{360,83}</string>
                <key>textureRect</key>
                <string>{{1069,205},{360,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_en.png</string>
            <key>size</key>
            <string>{1663,733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8eba3c9c59e19ba4aa4cdb49983ec48:bf9d34804dc51a8c52924dd21985e5db:b4d2934158eec43e98976ecd4a11fcdb$</string>
            <key>textureFileName</key>
            <string>main_en.png</string>
        </dict>
    </dict>
</plist>
