<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Settlement_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1379,806}</string>
                <key>spriteSourceSize</key>
                <string>{1379,806}</string>
                <key>textureRect</key>
                <string>{{3,3},{1379,806}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settlement_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{95,69}</string>
                <key>textureRect</key>
                <string>{{91,815},{95,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banker_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{3,815},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1204,4}</string>
                <key>spriteSourceSize</key>
                <string>{1204,4}</string>
                <key>textureRect</key>
                <string>{{91,890},{1204,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_antes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,47}</string>
                <key>spriteSourceSize</key>
                <string>{105,55}</string>
                <key>textureRect</key>
                <string>{{461,815},{101,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_bid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,45}</string>
                <key>spriteSourceSize</key>
                <string>{106,55}</string>
                <key>textureRect</key>
                <string>{{770,815},{104,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_game_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,64}</string>
                <key>spriteSourceSize</key>
                <string>{263,64}</string>
                <key>textureRect</key>
                <string>{{192,815},{263,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_payout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{97,47}</string>
                <key>spriteSourceSize</key>
                <string>{105,55}</string>
                <key>textureRect</key>
                <string>{{568,815},{97,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{97,45}</string>
                <key>spriteSourceSize</key>
                <string>{105,55}</string>
                <key>textureRect</key>
                <string>{{880,815},{97,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{93,47}</string>
                <key>spriteSourceSize</key>
                <string>{105,55}</string>
                <key>textureRect</key>
                <string>{{671,815},{93,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settlement_window.png</string>
            <key>size</key>
            <string>{1385,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e8133c5074ed774d5548935fd429ed2:63adaa96d12176742733e09e16f1ea95:7b47acc3969c06751c8dc3d60c06e5ca$</string>
            <key>textureFileName</key>
            <string>settlement_window.png</string>
        </dict>
    </dict>
</plist>
