<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_startGame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1197,305}</string>
                <key>spriteSourceSize</key>
                <string>{1197,305}</string>
                <key>textureRect</key>
                <string>{{3,3},{1197,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_startGame_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1164,268}</string>
                <key>spriteSourceSize</key>
                <string>{1164,268}</string>
                <key>textureRect</key>
                <string>{{3,314},{1164,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_startGame_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,375}</string>
                <key>spriteSourceSize</key>
                <string>{222,375}</string>
                <key>textureRect</key>
                <string>{{1206,3},{222,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>startGame.png</string>
            <key>size</key>
            <string>{1431,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6b77a6c2ce1a685d4ed64420d4e98f7:c29da57f757158cc9f81d2df3e829ac7:391b4588f7ce3558cd738337fee467e0$</string>
            <key>textureFileName</key>
            <string>startGame.png</string>
        </dict>
    </dict>
</plist>
