<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_startGame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{1245,302}</string>
                <key>spriteSourceSize</key>
                <string>{1245,322}</string>
                <key>textureRect</key>
                <string>{{3,3},{1245,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_startGame_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{1216,272}</string>
                <key>spriteSourceSize</key>
                <string>{1218,288}</string>
                <key>textureRect</key>
                <string>{{3,311},{1216,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_startGame_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,375}</string>
                <key>spriteSourceSize</key>
                <string>{222,375}</string>
                <key>textureRect</key>
                <string>{{1254,3},{222,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>startGame_tw.png</string>
            <key>size</key>
            <string>{1479,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f77ce9770bcc0f4a57079cb50cd76c75:fed7592b0fb9744d97b309603f215720:858c04f69a5f007900d99c2b4cf5f501$</string>
            <key>textureFileName</key>
            <string>startGame_tw.png</string>
        </dict>
    </dict>
</plist>
