<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_startGame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{915,293}</string>
                <key>spriteSourceSize</key>
                <string>{915,293}</string>
                <key>textureRect</key>
                <string>{{3,3},{915,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_startGame_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{879,258}</string>
                <key>spriteSourceSize</key>
                <string>{879,258}</string>
                <key>textureRect</key>
                <string>{{3,302},{879,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_startGame_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,375}</string>
                <key>spriteSourceSize</key>
                <string>{222,375}</string>
                <key>textureRect</key>
                <string>{{3,566},{222,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>startGame_en.png</string>
            <key>size</key>
            <string>{921,791}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bf59b3e34943843acbb0886819c85b:7e7fe8a1c7014087f10d1a0719c6dc67:18ddcbf02ad1092d6f1c19e15dec993f$</string>
            <key>textureFileName</key>
            <string>startGame_en.png</string>
        </dict>
    </dict>
</plist>
