<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_loss_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{760,198}</string>
                <key>spriteSourceSize</key>
                <string>{760,198}</string>
                <key>textureRect</key>
                <string>{{645,209},{760,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_loss_font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,193}</string>
                <key>spriteSourceSize</key>
                <string>{431,193}</string>
                <key>textureRect</key>
                <string>{{232,3},{431,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim_winLoss_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,442}</string>
                <key>spriteSourceSize</key>
                <string>{223,442}</string>
                <key>textureRect</key>
                <string>{{3,3},{223,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_win_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{760,200}</string>
                <key>spriteSourceSize</key>
                <string>{760,202}</string>
                <key>textureRect</key>
                <string>{{645,3},{760,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_win_font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{425,208}</string>
                <key>spriteSourceSize</key>
                <string>{425,210}</string>
                <key>textureRect</key>
                <string>{{431,3},{425,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>winLoss.png</string>
            <key>size</key>
            <string>{1408,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:648717cfe70fcea513191b4ce1a74561:644397c67f9c1ee207113d58401d5748:410cdeb5f5f3e91080a4bc662ab56799$</string>
            <key>textureFileName</key>
            <string>winLoss.png</string>
        </dict>
    </dict>
</plist>
