<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_loss_font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{915,328}</string>
                <key>spriteSourceSize</key>
                <string>{915,328}</string>
                <key>textureRect</key>
                <string>{{3,408},{915,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_win_font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{938,399}</string>
                <key>spriteSourceSize</key>
                <string>{938,399}</string>
                <key>textureRect</key>
                <string>{{3,3},{938,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>winLoss_en.png</string>
            <key>size</key>
            <string>{944,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a95767f3b70c8eabceac0258ca57546a:aa0eb11e32fcb4f73df19926580dca1e:808cb0675dd8031dfd14d4b15559fa43$</string>
            <key>textureFileName</key>
            <string>winLoss_en.png</string>
        </dict>
    </dict>
</plist>
