<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_loss_font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{965,414}</string>
                <key>spriteSourceSize</key>
                <string>{965,414}</string>
                <key>textureRect</key>
                <string>{{843,3},{965,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_win_font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,447}</string>
                <key>spriteSourceSize</key>
                <string>{834,447}</string>
                <key>textureRect</key>
                <string>{{3,3},{834,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>winLoss_tw.png</string>
            <key>size</key>
            <string>{1811,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e6a22beed22eb48a848386ca082941:1eefe69e718bcda1ed299b1101ae576c:4e5d01bd20b51934ce0e9702e6b8e297$</string>
            <key>textureFileName</key>
            <string>winLoss_tw.png</string>
        </dict>
    </dict>
</plist>
