<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_LastWeek_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,95}</string>
                <key>spriteSourceSize</key>
                <string>{169,95}</string>
                <key>textureRect</key>
                <string>{{489,459},{169,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_LastWeek_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{169,95}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{360,634},{169,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_SetDate_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,95}</string>
                <key>spriteSourceSize</key>
                <string>{168,95}</string>
                <key>textureRect</key>
                <string>{{787,3},{168,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_SetDate_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{386,459},{169,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ThisWeek_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{357,798},{169,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ThisWeek_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{726,432},{169,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ToDay_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{724,607},{169,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ToDay_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{542,743},{169,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Yesterday_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{827,607},{169,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Yesterday_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{717,782},{169,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,83}</string>
                <key>spriteSourceSize</key>
                <string>{398,83}</string>
                <key>textureRect</key>
                <string>{{3,267},{398,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,95}</string>
                <key>spriteSourceSize</key>
                <string>{463,95}</string>
                <key>textureRect</key>
                <string>{{3,166},{463,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{117,62}</string>
                <key>spriteSourceSize</key>
                <string>{129,64}</string>
                <key>textureRect</key>
                <string>{{892,782},{117,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,97}</string>
                <key>spriteSourceSize</key>
                <string>{466,97}</string>
                <key>textureRect</key>
                <string>{{3,63},{466,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_enterSerach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,94}</string>
                <key>textureRect</key>
                <string>{{784,262},{168,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fullScreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,149}</string>
                <key>spriteSourceSize</key>
                <string>{142,151}</string>
                <key>textureRect</key>
                <string>{{590,588},{128,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,150}</string>
                <key>spriteSourceSize</key>
                <string>{143,152}</string>
                <key>textureRect</key>
                <string>{{494,267},{143,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_language.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,152}</string>
                <key>spriteSourceSize</key>
                <string>{131,152}</string>
                <key>textureRect</key>
                <string>{{784,104},{131,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,150}</string>
                <key>spriteSourceSize</key>
                <string>{130,150}</string>
                <key>textureRect</key>
                <string>{{590,432},{130,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_record_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,57}</string>
                <key>spriteSourceSize</key>
                <string>{178,57}</string>
                <key>textureRect</key>
                <string>{{358,735},{178,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rejoinrrom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,83}</string>
                <key>spriteSourceSize</key>
                <string>{398,83}</string>
                <key>textureRect</key>
                <string>{{3,356},{398,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,152}</string>
                <key>spriteSourceSize</key>
                <string>{143,152}</string>
                <key>textureRect</key>
                <string>{{643,274},{131,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,55}</string>
                <key>spriteSourceSize</key>
                <string>{179,57}</string>
                <key>textureRect</key>
                <string>{{532,846},{177,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_betAmount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,33}</string>
                <key>spriteSourceSize</key>
                <string>{156,33}</string>
                <key>textureRect</key>
                <string>{{3,874},{156,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_bet_amount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{81,43}</string>
                <key>textureRect</key>
                <string>{{535,634},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_bet_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,34}</string>
                <key>spriteSourceSize</key>
                <string>{150,34}</string>
                <key>textureRect</key>
                <string>{{921,104},{150,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_bet_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{81,43}</string>
                <key>textureRect</key>
                <string>{{829,566},{75,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_bet_result_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,33}</string>
                <key>spriteSourceSize</key>
                <string>{154,33}</string>
                <key>textureRect</key>
                <string>{{165,874},{154,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,33}</string>
                <key>spriteSourceSize</key>
                <string>{75,33}</string>
                <key>textureRect</key>
                <string>{{913,405},{75,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,81}</string>
                <key>spriteSourceSize</key>
                <string>{186,81}</string>
                <key>textureRect</key>
                <string>{{407,267},{186,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_effect_OnOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,84}</string>
                <key>spriteSourceSize</key>
                <string>{377,84}</string>
                <key>textureRect</key>
                <string>{{3,445},{377,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{153,35}</string>
                <key>spriteSourceSize</key>
                <string>{161,43}</string>
                <key>textureRect</key>
                <string>{{872,405},{153,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,77}</string>
                <key>spriteSourceSize</key>
                <string>{349,77}</string>
                <key>textureRect</key>
                <string>{{3,708},{349,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_language.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,92}</string>
                <key>spriteSourceSize</key>
                <string>{212,92}</string>
                <key>textureRect</key>
                <string>{{475,81},{212,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,82}</string>
                <key>spriteSourceSize</key>
                <string>{182,82}</string>
                <key>textureRect</key>
                <string>{{472,179},{182,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_music_OnOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,84}</string>
                <key>spriteSourceSize</key>
                <string>{377,84}</string>
                <key>textureRect</key>
                <string>{{3,535},{377,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_noRecord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{538,54}</string>
                <key>spriteSourceSize</key>
                <string>{554,64}</string>
                <key>textureRect</key>
                <string>{{3,3},{538,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{913,486},{75,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_order_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{155,37}</string>
                <key>spriteSourceSize</key>
                <string>{161,43}</string>
                <key>textureRect</key>
                <string>{{829,405},{155,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,77}</string>
                <key>spriteSourceSize</key>
                <string>{351,77}</string>
                <key>textureRect</key>
                <string>{{3,625},{351,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,85}</string>
                <key>spriteSourceSize</key>
                <string>{187,85}</string>
                <key>textureRect</key>
                <string>{{693,81},{187,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_sn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{157,37}</string>
                <key>spriteSourceSize</key>
                <string>{161,43}</string>
                <key>textureRect</key>
                <string>{{780,362},{157,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_userIconChange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,77}</string>
                <key>spriteSourceSize</key>
                <string>{348,77}</string>
                <key>textureRect</key>
                <string>{{3,791},{348,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_valid_amount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,33}</string>
                <key>spriteSourceSize</key>
                <string>{234,33}</string>
                <key>textureRect</key>
                <string>{{547,3},{234,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_valid_amount_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,33}</string>
                <key>spriteSourceSize</key>
                <string>{234,33}</string>
                <key>textureRect</key>
                <string>{{547,42},{234,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>systemMain_tw.png</string>
            <key>size</key>
            <string>{958,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95d736032402f029e641955b758e259b:18b3115707d43974a5c5887f0902e426:b93a43c3753cbceee730c401eb869be0$</string>
            <key>textureFileName</key>
            <string>systemMain_tw.png</string>
        </dict>
    </dict>
</plist>
