<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_LastWeek_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{739,207},{169,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_LastWeek_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{723,845},{169,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_SetDate_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{760,948},{169,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_SetDate_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{863,948},{169,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ThisWeek_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{760,1123},{169,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ThisWeek_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{650,1208},{169,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ToDay_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{753,1226},{169,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ToDay_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{753,1329},{169,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Yesterday_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{344,1419},{169,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Yesterday_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,97}</string>
                <key>spriteSourceSize</key>
                <string>{169,97}</string>
                <key>textureRect</key>
                <string>{{519,1421},{169,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{428,1031},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{173,50}</string>
                <key>spriteSourceSize</key>
                <string>{173,56}</string>
                <key>textureRect</key>
                <string>{{928,1226},{173,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,96}</string>
                <key>spriteSourceSize</key>
                <string>{463,96}</string>
                <key>textureRect</key>
                <string>{{371,3},{463,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,96}</string>
                <key>spriteSourceSize</key>
                <string>{463,96}</string>
                <key>textureRect</key>
                <string>{{105,1042},{463,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,64}</string>
                <key>textureRect</key>
                <string>{{276,1411},{116,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,96}</string>
                <key>spriteSourceSize</key>
                <string>{465,96}</string>
                <key>textureRect</key>
                <string>{{3,1042},{465,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_enterSerach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,96}</string>
                <key>spriteSourceSize</key>
                <string>{169,96}</string>
                <key>textureRect</key>
                <string>{{694,1432},{169,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fullScreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{133,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,147}</string>
                <key>textureRect</key>
                <string>{{842,143},{133,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,146}</string>
                <key>spriteSourceSize</key>
                <string>{143,146}</string>
                <key>textureRect</key>
                <string>{{723,693},{143,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_cardType_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,93}</string>
                <key>spriteSourceSize</key>
                <string>{306,93}</string>
                <key>textureRect</key>
                <string>{{371,422},{306,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_cardType_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,93}</string>
                <key>spriteSourceSize</key>
                <string>{306,93}</string>
                <key>textureRect</key>
                <string>{{371,521},{306,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_rule_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,93}</string>
                <key>spriteSourceSize</key>
                <string>{306,93}</string>
                <key>textureRect</key>
                <string>{{371,620},{306,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_rule_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,93}</string>
                <key>spriteSourceSize</key>
                <string>{306,93}</string>
                <key>textureRect</key>
                <string>{{309,723},{306,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_help_settlement_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,93}</string>
                <key>spriteSourceSize</key>
                <string>{306,93}</string>
                <key>textureRect</key>
                <string>{{408,719},{306,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_help_settlement_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,93}</string>
                <key>spriteSourceSize</key>
                <string>{306,93}</string>
                <key>textureRect</key>
                <string>{{507,719},{306,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_language.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,144}</string>
                <key>spriteSourceSize</key>
                <string>{139,144}</string>
                <key>textureRect</key>
                <string>{{842,282},{139,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,184}</string>
                <key>textureRect</key>
                <string>{{428,1231},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,148}</string>
                <key>spriteSourceSize</key>
                <string>{144,148}</string>
                <key>textureRect</key>
                <string>{{755,427},{144,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_record_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,56}</string>
                <key>spriteSourceSize</key>
                <string>{180,56}</string>
                <key>textureRect</key>
                <string>{{905,427},{180,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_rejoinrrom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,96}</string>
                <key>spriteSourceSize</key>
                <string>{463,96}</string>
                <key>textureRect</key>
                <string>{{371,105},{463,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rule_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,57}</string>
                <key>spriteSourceSize</key>
                <string>{146,57}</string>
                <key>textureRect</key>
                <string>{{872,693},{146,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,147}</string>
                <key>spriteSourceSize</key>
                <string>{134,147}</string>
                <key>textureRect</key>
                <string>{{840,3},{134,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_setting_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{182,53}</string>
                <key>spriteSourceSize</key>
                <string>{184,57}</string>
                <key>textureRect</key>
                <string>{{712,634},{182,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_betAmount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,23}</string>
                <key>spriteSourceSize</key>
                <string>{155,23}</string>
                <key>textureRect</key>
                <string>{{344,1522},{155,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_bet_amount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,33}</string>
                <key>spriteSourceSize</key>
                <string>{88,41}</string>
                <key>textureRect</key>
                <string>{{869,1432},{88,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_bet_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,20}</string>
                <key>spriteSourceSize</key>
                <string>{153,20}</string>
                <key>textureRect</key>
                <string>{{967,427},{153,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_bet_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{131,37}</string>
                <key>spriteSourceSize</key>
                <string>{131,41}</string>
                <key>textureRect</key>
                <string>{{935,613},{131,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_bet_result_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,27}</string>
                <key>spriteSourceSize</key>
                <string>{184,27}</string>
                <key>textureRect</key>
                <string>{{617,1231},{184,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,16}</string>
                <key>spriteSourceSize</key>
                <string>{69,16}</string>
                <key>textureRect</key>
                <string>{{935,1123},{69,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_datetime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{87,33}</string>
                <key>spriteSourceSize</key>
                <string>{87,41}</string>
                <key>textureRect</key>
                <string>{{898,845},{87,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{363,47}</string>
                <key>spriteSourceSize</key>
                <string>{363,61}</string>
                <key>textureRect</key>
                <string>{{298,1042},{363,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_effect_OnOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{362,126}</string>
                <key>spriteSourceSize</key>
                <string>{394,132}</string>
                <key>textureRect</key>
                <string>{{371,207},{362,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{201,37}</string>
                <key>spriteSourceSize</key>
                <string>{203,41}</string>
                <key>textureRect</key>
                <string>{{712,422},{201,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,63}</string>
                <key>spriteSourceSize</key>
                <string>{157,63}</string>
                <key>textureRect</key>
                <string>{{207,1390},{157,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_language.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,77}</string>
                <key>spriteSourceSize</key>
                <string>{344,77}</string>
                <key>textureRect</key>
                <string>{{371,339},{344,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{144,47}</string>
                <key>spriteSourceSize</key>
                <string>{144,61}</string>
                <key>textureRect</key>
                <string>{{755,581},{144,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_music_OnOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{192,126}</string>
                <key>spriteSourceSize</key>
                <string>{194,132}</string>
                <key>textureRect</key>
                <string>{{628,1010},{192,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_noRecord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{714,56}</string>
                <key>spriteSourceSize</key>
                <string>{714,60}</string>
                <key>textureRect</key>
                <string>{{309,3},{714,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{49,32}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{650,1383},{49,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_order_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{161,33}</string>
                <key>spriteSourceSize</key>
                <string>{161,41}</string>
                <key>textureRect</key>
                <string>{{3,1513},{161,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,72}</string>
                <key>spriteSourceSize</key>
                <string>{285,72}</string>
                <key>textureRect</key>
                <string>{{606,719},{285,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,85}</string>
                <key>spriteSourceSize</key>
                <string>{342,85}</string>
                <key>textureRect</key>
                <string>{{207,1042},{342,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_sn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{257,33}</string>
                <key>spriteSourceSize</key>
                <string>{257,41}</string>
                <key>textureRect</key>
                <string>{{684,709},{257,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_userIconChange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,38}</string>
                <key>spriteSourceSize</key>
                <string>{357,38}</string>
                <key>textureRect</key>
                <string>{{351,1035},{357,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_valid_amount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,27}</string>
                <key>spriteSourceSize</key>
                <string>{338,27}</string>
                <key>textureRect</key>
                <string>{{395,1035},{338,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>label_valid_amount_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,23}</string>
                <key>spriteSourceSize</key>
                <string>{281,23}</string>
                <key>textureRect</key>
                <string>{{683,422},{281,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1033,300}</string>
                <key>spriteSourceSize</key>
                <string>{1033,300}</string>
                <key>textureRect</key>
                <string>{{3,3},{1033,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>systemMain_en.png</string>
            <key>size</key>
            <string>{990,1550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d5e3be62368857e449f2cd7d51c7d1d:20d0773ca53cc2a09747f3dbdb2aba24:8076b6f82638033c5b534ce8639f3245$</string>
            <key>textureFileName</key>
            <string>systemMain_en.png</string>
        </dict>
    </dict>
</plist>
