<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_datetime_window_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{76,3},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_datetime_window_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{138,3},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>datetime_window_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,487}</string>
                <key>spriteSourceSize</key>
                <string>{486,487}</string>
                <key>textureRect</key>
                <string>{{3,65},{486,487}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>datetime_window_dateBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,55}</string>
                <key>spriteSourceSize</key>
                <string>{67,55}</string>
                <key>textureRect</key>
                <string>{{3,3},{67,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIDatePicker_main.png</string>
            <key>size</key>
            <string>{493,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fed267ab141fa93470267e1e9acc5e31:cacd10ae4008212b654d51d67417c34b:35aa8c34e1676f1aaeee7fd9dffae468$</string>
            <key>textureFileName</key>
            <string>UIDatePicker_main.png</string>
        </dict>
    </dict>
</plist>
